<div class="card">
  <div class="card-content">
    <div class="media">
      <% if user.avatar.attached? %>
        <div class="media-left">
          <%= image_tag(current_user.avatar.variant(:thumb), size: "64x64", class: "image is-64x64") if current_user.avatar.attached? %>
        </div>
      <% end %>
      <div class="media-content">
        <div class="title is-4">
          <%= link_to user do %>
            <%= user.username %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="content">
      No status yet!
    </div>
  </div>
</div>
