<% unless flash.empty? %>
  <div class="container">
    <% if flash.notice.present? %>
      <div class="notification is-info">
        <%= notice %>
      </div>
    <% end %>
    <% if flash.alert.present? %>
      <div class="notification is-danger">
        <%= alert %>
      </div>
    <% end %>
  </div>
<% end %>
